.modal {
  position: fixed;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../img/back.png");
  background-size: cover;
  transition: all 0.3s ease;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 10000;
    transition: all 0.3s ease;
  }
}

.modal__wrap {
  position: relative;
  background-color: #fff;
  max-width: 614px;
  padding: 60px;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 68px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 310px;
  }
}

.modal__title {
  color: #979797;
  font-style: normal;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.16px;
  margin-bottom: 30px;
  text-align: center;
  @media (max-width: 767px) {
    text-align: left;
    font-size: 16px;
	margin-bottom: 20px;
  }
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.modal__submit {
  font-size: 12px;
  align-self: flex-start;
  width: auto;
  margin-top: 5px;
  min-height: 36px;
  @media (max-width: 767px) {
    width: 100%;
    justify-content: center;
    font-size: 13px;
	margin-top: 15px;
	min-height: 44px;
  }
}

.modal__text {
  color: #6a6a6c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 178.571% */
  letter-spacing: 0.14px;
  margin-bottom: 40px;
  @media (max-width: 767px) {
	text-align: left;
	font-size: 10px;
	line-height: 15px;
	margin-bottom: 30px;
  }
}
