@font-face {
  font-family: "NTSomic";
  src: url("../fonts/NTSomic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NTSomic";
  src: url("../fonts/NTSomic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NTSomic";
  src: url("../fonts/NTSomic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}