// Mobile first
$mediaWidthMobile: 767px;
$mediaWidthTablet: 1023px;
$mediaWidthTabletHorizontal: 1365px;
$mediaWidthLaptop: 1919px;
// $mediaDesctop: 1919px;

$fontBase: "Nunito Sans",
"sans-serif";
$color-blue-dark: #085C8B;
$color-blue-dark: #248EC9;
$color-green-dark: #0B889A;
$color-green-dark: #26ABBE;