.main-block
	header.header
		._container 
			.header__wrap 
				a.logo(href="index.html")
					img(src="img/logo.png" alt="zoje sewing machine")
				.header__contacts
					.header__links 
						a.header__tel(href="tel:+7(727)300 00 00") +7(727)300 00 00
						a.header__mail(href="mailto:zoje.kz@gmail.com") zoje.kz@gmail.com
					button.btn.header__btn.feedback-btn Обратный звонок
				.burger
	.main
		._container
			.main__wrap 
				.main__content
					h2.main__title A6000-D
					p.main__text Высокоскоростная Автоматическая <br> Триммерная Машинаa
					a(href="").show-more Узнать подробнее 
						svg(width="7" height="12")
							use(href="#icn-arrow-right")
				img.main__pic(src="img/pic1.png", alt="")