.about__wrap 
	.swiper.swiper-history 
		.swiper-wrapper 
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу

			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу
			.swiper-slide
				.about__name <span class="about__year">1994</span> июль
				p.about__text Компания ZOJE была основана в 1994 году в Тайчжоу, провинция Чжэцзян. Первая партия продукции отправлена за границу и экспортируется в Венесуэлу

	//- .swiper-pagination
	//- .swiper-button-prev 
	//- 	svg(width="7" height="12")
	//- 		use(href="#icn-arrow-slider-prev")
	.swiper-button-next
		svg(width="7" height="12")
			use(href="#icn-arrow-slider-next")
	.about-history__slider-nav.swiper-pagination(data-swiper-history-nav)
