.product-overlay
	.product
		button.product__close 
			svg(width="18" height="18")
				use(href="#icn-cross-2")
		.product__wrap 
			.swiper.swiperSingle
				.swiper-wrapper 
					.swiper-slide
						.product__block
							img(src="img/b1.png" alt="")
							.product__descr 
								h3.product__title ZOJE A6000-G-S7/02 
								p.product__subtitle Одноигольная прямострочная швейная машина челночного стежка 
								p.product__text Пряммой позиционирующий энергосберегающий привод, электронная регулировка скорости.
								.product__price 
									span Цена за штуку
									span 00 000 тг
								button.btn.product__btn.feedback-btn Оформить заказ
					.swiper-slide
						.product__block
							img(src="img/b1.png" alt="")
							.product__descr 
								h3.product__title ZOJE A6000-G-S7/02 
								p.product__subtitle Одноигольная прямострочная швейная машина челночного стежка 
								p.product__text Пряммой позиционирующий энергосберегающий привод, электронная регулировка скорости.
								.product__price 
									span Цена за штуку
									span 00 000 тг
								button.btn.product__btn.feedback-btn Оформить заказ
					.swiper-slide
						.product__block
							img(src="img/b1.png" alt="")
							.product__descr 
								h3.product__title ZOJE A6000-G-S7/02 
								p.product__subtitle Одноигольная прямострочная швейная машина челночного стежка 
								p.product__text Пряммой позиционирующий энергосберегающий привод, электронная регулировка скорости.
								.product__price 
									span Цена за штуку
									span 00 000 тг
								button.btn.product__btn.feedback-btn Оформить заказ
					.swiper-slide
						.product__block
							img(src="img/b1.png" alt="")
							.product__descr 
								h3.product__title ZOJE A6000-G-S7/02 
								p.product__subtitle Одноигольная прямострочная швейная машина челночного стежка 
								p.product__text Пряммой позиционирующий энергосберегающий привод, электронная регулировка скорости.
								.product__price 
									span Цена за штуку
									span 00 000 тг
								button.btn.product__btn.feedback-btn Оформить заказ


			.swiper.swiperThumbs
				.swiper-wrapper 
					.swiper-slide
						img(src="img/t1.png" alt="")
					.swiper-slide
						img(src="img/t1.png" alt="")
					.swiper-slide
						img(src="img/t1.png" alt="")
					.swiper-slide
						img(src="img/t1.png" alt="")
		include ./settings
