.product__settings.settings.settings-show
	.tab#tab-2 
		.tab-nav 
			button.tab-btn.tab-btn-active(data-target-id="0") Описание
			button.tab-btn(data-target-id="1")  Характеристики
			button.tab-btn(data-target-id="2")  Регулировка
			button.tab-btn(data-target-id="3")  Типы ткани
		.tab-content 
			.tab-pane.tab-pane-show(data-id="0")
				p ZOJE ZJ246V-A – Одноигольная швейная машина челночного стежка рукавного типа, с верхним, нижним и игольным продвижением с приспособлением для окантовки изделий. Машина предназначена для обработки средних и средне-тяжелых материалов. Оснащена движущимся механизмом под окантователь, что позволяет выполнять красивую окантовку изделий. Поставляется в комплекте с энергосберегающим мотором 550 Ватт и со столом. Окантовыватель в комплект не входит.
				.settings__footer
					btn.settings__btn Руководство по продукту
						svg(width="9" height="9")
							use(href="#icn-download")
					btn.settings__btn Руководство по запчастям
						svg(width="9" height="9")
							use(href="#icn-download")
			.tab-pane(data-id="1")
				.product__table.product-table 
					.row
						.col Тип челнока
						.col качающийся
					.row
						.col Кнопка реверса
						.col есть
					.row
						.col Количество швейных операций
						.col 19
					.row
						.col Выполнение петли
						.col автомат, число видов петель: 1
					.row
						.col Тип управления 
						.col электромеханическое
					.row
						.col Максимальная длина стежка
						.col 4 мм
					.row
						.col Максимальная ширина строчки
						.col 5 мм
					.row
						.col Строчки
						.col обметочная, потайная, эластичная, эластичная потайная, «зигзаг»
					.row
						.col Нитевдеватель
						.col есть
					.row
						.col Автоматический обрезатель нити
						.col есть
					.row
						.col Расположение катушки
						.col вертикальное
					.row
						.col Лапки
						.col для вшивания молнии, обметочная, для подрубки

			.tab-pane(data-id="2")
				.product__table.product-table 
					.row
						.col Регулировка давления лапки на ткань
						.col есть
					.row
						.col Автоматический подъем лапки
						.col есть
					.row
						.col Максимальная высота подъема лапки
						.col 12 мм
					.row
						.col Переключатель положения иглы (верх/низ)
						.col есть
					.row
						.col Освещение
						.col есть
					.row
						.col Потребляемая мощность
						.col 60 Вт
					.row
						.col Рукавная платформа
						.col есть
					.row
						.col Линейка на корпусе
						.col есть
					.row
						.col Стандарт связи
						.col есть
					.row
						.col Чехол 
						.col есть
					.row
						.col Вес
						.col 16.2 кг
			.tab-pane(data-id="3")
				.product__table.product-table 
					.row
						.col Работа с грубыми тканями
						.col да
					.row
						.col Работа с тонкими тканями 
						.col да

		img.settings__footer-pic(src="img/p-footer.png", alt="")
		img.settings__footer-pic.settings__footer-pic--mobile(src="img/p-footer-mobile.png", alt="")

.product__settings.settings
	.tab#tab-2 
		.tab-nav 
			button.tab-btn.tab-btn-active(data-target-id="0") Описание
			button.tab-btn(data-target-id="1")  Характеристики
			button.tab-btn(data-target-id="2")  Регулировка
			button.tab-btn(data-target-id="3")  Типы ткани
		.tab-content 
			.tab-pane.tab-pane-show(data-id="0")
				p ZOJE ZJ246V-A – Одноигольная швейная машина челночного стежка рукавного типа, с верхним, нижним и игольным продвижением с приспособлением для окантовки изделий. Машина предназначена для обработки средних и средне-тяжелых материалов. Оснащена движущимся механизмом под окантователь, что позволяет выполнять красивую окантовку изделий. Поставляется в комплекте с энергосберегающим мотором 550 Ватт и со столом. Окантовыватель в комплект не входит.
				.settings__footer
					btn.settings__btn Руководство по продукту
						svg(width="9" height="9")
							use(href="#icn-download")
					btn.settings__btn Руководство по запчастям
						svg(width="9" height="9")
							use(href="#icn-download")
			.tab-pane(data-id="1")
				.product__table.product-table 
					.row
						.col Тип челнока
						.col качающийся
					.row
						.col Кнопка реверса
						.col есть
					.row
						.col Количество швейных операций
						.col 19
					.row
						.col Выполнение петли
						.col автомат, число видов петель: 1
					.row
						.col Тип управления 
						.col электромеханическое
					.row
						.col Максимальная длина стежка
						.col 4 мм
					.row
						.col Максимальная ширина строчки
						.col 5 мм
					.row
						.col Строчки
						.col обметочная, потайная, эластичная, эластичная потайная, «зигзаг»
					.row
						.col Нитевдеватель
						.col есть
					.row
						.col Автоматический обрезатель нити
						.col есть
					.row
						.col Расположение катушки
						.col вертикальное
					.row
						.col Лапки
						.col для вшивания молнии, обметочная, для подрубки

			.tab-pane(data-id="2")
				.product__table.product-table 
					.row
						.col Регулировка давления лапки на ткань
						.col есть
					.row
						.col Автоматический подъем лапки
						.col есть
					.row
						.col Максимальная высота подъема лапки
						.col 12 мм
					.row
						.col Переключатель положения иглы (верх/низ)
						.col есть
					.row
						.col Освещение
						.col есть
					.row
						.col Потребляемая мощность
						.col 60 Вт
					.row
						.col Рукавная платформа
						.col есть
					.row
						.col Линейка на корпусе
						.col есть
					.row
						.col Стандарт связи
						.col есть
					.row
						.col Чехол 
						.col есть
					.row
						.col Вес
						.col 16.2 кг
			.tab-pane(data-id="3")
				.product__table.product-table 
					.row
						.col Работа с грубыми тканями
						.col да
					.row
						.col Работа с тонкими тканями 
						.col да
		img.settings__footer-pic(src="img/p-footer.png", alt="")
		img.settings__footer-pic.settings__footer-pic--mobile(src="img/p-footer-mobile.png", alt="")


.product__settings.settings
	.tab#tab-2 
		.tab-nav 
			button.tab-btn.tab-btn-active(data-target-id="0") Описание
			button.tab-btn(data-target-id="1")  Характеристики
			button.tab-btn(data-target-id="2")  Регулировка
			button.tab-btn(data-target-id="3")  Типы ткани
		.tab-content 
			.tab-pane.tab-pane-show(data-id="0")
				p ZOJE ZJ246V-A – Одноигольная швейная машина челночного стежка рукавного типа, с верхним, нижним и игольным продвижением с приспособлением для окантовки изделий. Машина предназначена для обработки средних и средне-тяжелых материалов. Оснащена движущимся механизмом под окантователь, что позволяет выполнять красивую окантовку изделий. Поставляется в комплекте с энергосберегающим мотором 550 Ватт и со столом. Окантовыватель в комплект не входит.
				.settings__footer
					btn.settings__btn Руководство по продукту
						svg(width="9" height="9")
							use(href="#icn-download")
					btn.settings__btn Руководство по запчастям
						svg(width="9" height="9")
							use(href="#icn-download")
			.tab-pane(data-id="1")
				.product__table.product-table 
					.row
						.col Тип челнока
						.col качающийся
					.row
						.col Кнопка реверса
						.col есть
					.row
						.col Количество швейных операций
						.col 19
					.row
						.col Выполнение петли
						.col автомат, число видов петель: 1
					.row
						.col Тип управления 
						.col электромеханическое
					.row
						.col Максимальная длина стежка
						.col 4 мм
					.row
						.col Максимальная ширина строчки
						.col 5 мм
					.row
						.col Строчки
						.col обметочная, потайная, эластичная, эластичная потайная, «зигзаг»
					.row
						.col Нитевдеватель
						.col есть
					.row
						.col Автоматический обрезатель нити
						.col есть
					.row
						.col Расположение катушки
						.col вертикальное
					.row
						.col Лапки
						.col для вшивания молнии, обметочная, для подрубки

			.tab-pane(data-id="2")
				.product__table.product-table 
					.row
						.col Регулировка давления лапки на ткань
						.col есть
					.row
						.col Автоматический подъем лапки
						.col есть
					.row
						.col Максимальная высота подъема лапки
						.col 12 мм
					.row
						.col Переключатель положения иглы (верх/низ)
						.col есть
					.row
						.col Освещение
						.col есть
					.row
						.col Потребляемая мощность
						.col 60 Вт
					.row
						.col Рукавная платформа
						.col есть
					.row
						.col Линейка на корпусе
						.col есть
					.row
						.col Стандарт связи
						.col есть
					.row
						.col Чехол 
						.col есть
					.row
						.col Вес
						.col 16.2 кг
			.tab-pane(data-id="3")
				.product__table.product-table 
					.row
						.col Работа с грубыми тканями
						.col да
					.row
						.col Работа с тонкими тканями 
						.col да
		img.settings__footer-pic(src="img/p-footer.png", alt="")
		img.settings__footer-pic.settings__footer-pic--mobile(src="img/p-footer-mobile.png", alt="")


.product__settings.settings
	.tab#tab-2 
		.tab-nav 
			button.tab-btn.tab-btn-active(data-target-id="0") Описание
			button.tab-btn(data-target-id="1")  Характеристики
			button.tab-btn(data-target-id="2")  Регулировка
			button.tab-btn(data-target-id="3")  Типы ткани
		.tab-content 
			.tab-pane.tab-pane-show(data-id="0")
				p ZOJE ZJ246V-A – Одноигольная швейная машина челночного стежка рукавного типа, с верхним, нижним и игольным продвижением с приспособлением для окантовки изделий. Машина предназначена для обработки средних и средне-тяжелых материалов. Оснащена движущимся механизмом под окантователь, что позволяет выполнять красивую окантовку изделий. Поставляется в комплекте с энергосберегающим мотором 550 Ватт и со столом. Окантовыватель в комплект не входит.
				.settings__footer
					btn.settings__btn Руководство по продукту
						svg(width="9" height="9")
							use(href="#icn-download")
					btn.settings__btn Руководство по запчастям
						svg(width="9" height="9")
							use(href="#icn-download")
			.tab-pane(data-id="1")
				.product__table.product-table 
					.row
						.col Тип челнока
						.col качающийся
					.row
						.col Кнопка реверса
						.col есть
					.row
						.col Количество швейных операций
						.col 19
					.row
						.col Выполнение петли
						.col автомат, число видов петель: 1
					.row
						.col Тип управления 
						.col электромеханическое
					.row
						.col Максимальная длина стежка
						.col 4 мм
					.row
						.col Максимальная ширина строчки
						.col 5 мм
					.row
						.col Строчки
						.col обметочная, потайная, эластичная, эластичная потайная, «зигзаг»
					.row
						.col Нитевдеватель
						.col есть
					.row
						.col Автоматический обрезатель нити
						.col есть
					.row
						.col Расположение катушки
						.col вертикальное
					.row
						.col Лапки
						.col для вшивания молнии, обметочная, для подрубки

			.tab-pane(data-id="2")
				.product__table.product-table 
					.row
						.col Регулировка давления лапки на ткань
						.col есть
					.row
						.col Автоматический подъем лапки
						.col есть
					.row
						.col Максимальная высота подъема лапки
						.col 12 мм
					.row
						.col Переключатель положения иглы (верх/низ)
						.col есть
					.row
						.col Освещение
						.col есть
					.row
						.col Потребляемая мощность
						.col 60 Вт
					.row
						.col Рукавная платформа
						.col есть
					.row
						.col Линейка на корпусе
						.col есть
					.row
						.col Стандарт связи
						.col есть
					.row
						.col Чехол 
						.col есть
					.row
						.col Вес
						.col 16.2 кг
			.tab-pane(data-id="3")
				.product__table.product-table 
					.row
						.col Работа с грубыми тканями
						.col да
					.row
						.col Работа с тонкими тканями 
						.col да																				
		img.settings__footer-pic(src="img/p-footer.png", alt="")
		img.settings__footer-pic.settings__footer-pic--mobile(src="img/p-footer-mobile.png", alt="")
